.bump{
    animation: bump 300ms ease-out;
}

@keyframes bump{
    0%{
       transform: scale(1);
    }
    10%{
        transform: scale(0.9);
     }
     30%{
        transform: scale(1.1);
     }
     50%{
        transform: scale(1.15);
     }
     100%{
        transform: scale(1);
     }
}

.icon-cart:before {
   content: "\e93a";
   position: absolute;
   top: 0;
   left: 0;
 }